@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	margin: 0;
    
}

.container-app{
	margin-left: 0;
	height: 100vh;
	width: 100vw;
	background-image: url(../images/background.png);
	background-position: center;
	background-size: cover;
}
.logo {
	border: 2px solid black;
	border-radius: 30px;
	width: 5rem;
	margin-left: 2rem;
	margin-top: 2rem;
}

.content{
top: 50%;
position: absolute;
transform: translateY(-50%);
color: white;
margin-left: 5rem;
font-family: 'Roboto', sans-serif;
}
.content h1{
    font-size: 60px;
    font-weight: 600;
    
}

.content span{
    color: rgb(207, 57, 57);
}

.rocket{
    height: 250px;
    position:absolute;
    float: right;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
0%{
    bottom: 0;
    opacity: 0;
}
50%{
    bottom: 50%;
    opacity: 1;
}
100%{
    bottom: 105%;
    opacity: 1;
}
}